.carousel-item{
    height: 1000px;
}

.carousel-item-img{
    height: 1000px;
}

.yt-icon-button:focus {
    vertical-align: middle;
    color: #01a715;
}

.background-img {
    opacity: 90%;
}

.text-hello {
    text-align: center;
}

.img-wrap {
    position: relative;
  }
  
.img-wrap>h1 {
    position: absolute;
    left: 70%;
    bottom: 75%;
    width: 100%;
    opacity: 100%;
    color: rgb(0, 0, 0);
    max-width: 500px;
  }

.img-wrap-2 {
    position: relative;
  }
  
.img-wrap-2>h1 {
    position: absolute;
    left: 70%;
    bottom: 75%;
    width: 100%;
    opacity: 100%;
    color: rgb(255, 255, 255);
    max-width: 500px;
  }
